:root {
    --background: #33373F;
    --background-2: #41454E;
    --foreground: white;
    --foreground-2: #484d54;
    --feature-1: #1df5aa;
    --h1-font-color: #009AF1;
    --navbar-color: #1e2126;
    --white: white;
    --black: black;

    --content-width: 1920px;
  }
  
  html {
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
    /* height: 100%; */
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    text-align: center;
    /* height: 100%; */
  }
  
  #title-block-header {
    display: none;
  }
  
  .navbar {
    background: var(--navbar-color);
    text-align: left;
    font-size: 16px;
  }
  
  .title, .navbar-title {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 4px;
  }
  
  .navbar-title {
    background: linear-gradient(240.01deg, #4B555B 15.29%, rgba(67, 78, 84, 0) 138.75%);
  }

  .navbar-logo {
    width: 200px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 100%;
    /* border-radius: 8px; */
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
  }

  .navbar-brand -ogo {
    width: 100%;
    height: 100%;
  }
  
  .title {
    background: linear-gradient(240.01deg, #78858C 15.29%, rgba(105, 117, 123, 0) 138.75%);
  }
  
  .content-block {
    margin-left: 30px;
    margin-right: 30px;
    overflow-x: hidden;
  }
  
  @media(min-width: 900px) {
    .content-block {
      margin-left: 50px;
      margin-right: 50px;
    }
    .hero-banner h3 {
      max-width: 60%;
    }
    .hero-banner-features {
      width: 80%;
    }
  }
  
  @media(min-width: 1200px) {
    .content-block {
      max-width: var(--content-width);
      margin-left: auto;
      margin-right: auto;
    }
    .hero-banner h3 {
      max-width: 90%;
    }
  }

/* ##### HERO BANNER ##### */


  .overlay {
    position: static;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    /* background: rgba(51,51,51,0.7); */
    z-index: -10;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5%;
  }
  
  .hero-banner {
    /* margin-top: -100px; */
    /* padding-bottom: 10px;
    margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../assets/img/hero_01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .hero-banner h1 {
    font-size: 56px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Poppins';
    color: var(--white);
  }
  
  .hero-banner h2 {
    border: none;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .hero-banner h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--feature-1);
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins';
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .hero-banner-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

/* ##### INTRODUCTION ##### */

  .introduction {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduction h1 {
    max-width: 95%;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .introduction h2 {
    max-width: 95%;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .introduction p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 70%;
    line-break: auto;
    line-height: 1.5;
  }

  .text-feature {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins';
    color: var(--feature-1);
    margin-top: 10px;
    margin-bottom: 40px;
  }



/* ##### ... ##### */



  
  .mid-content {
    width: 100%;
    padding: 0;
    padding-top: 80px !important;
    padding-bottom: 80px;
    background: linear-gradient(235.87deg, #656A75 12.29%, #33373F 107.53%);
    overflow-x: hidden;
  }
  
  .testimonial {
    background: rgba(51, 55, 63, 0.4);
    border-radius: 12px;
    padding: 30px;
    text-align: left;
  }
  
  .testimonial p {
    margin: 0;
    padding: 0;
  }
  
  .testimonial img {
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    width: 50px;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .testimonial h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
  }
  
  .testimonial h2 {
    border: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #A2A8B4;
  }
  
  .testimonial h3 {
    margin: 0;
    margin-top: 30px;
    font-size: 16px;
  }
  
  .feature {
    font-size: 16px;
    height: 210px;
    background: var(--background-2);
    border-radius: 12px;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .feature img {
    margin-bottom: 20px;
    width: 48px;
  }
  
  .footer {
    color: #A2A8B4;
    font-size: 16px;
    margin-top: 40px;
    padding-top: 30px !important;
    border-top: 1px solid var(--foreground-2);
  }
  
  .btn-action-primary {
    color: #F9FAFB;
    background: #009AF1;
    font-weight: 700;
    line-height: 20px; /* identical to box height */
  }
  
  .btn-action-primary:hover, .btn-action-primary:active, .btn-action-primary:focus {
    background: #35acf0;
  }
  
  .btn-action {
    min-width: 165px;
    border-radius: 8px;
    padding: 20px 48px;
    border: none;
  }
  
  /* Below are needed to make .ipynb equivalent to .qmd */
  
  .figure {
    display: inline;
  }
  
  .quarto-figure {
    margin: 0;
  }