/*-- TIE Dark Theme --*/

$theme: "tie_dark" !default;

/*-- Import Statements --*/
@import "tie_fonts";

//
// Color system
//

$white:           #fff !default;
$gray-100:        #f8f9fa !default;
$gray-200:        #ebebeb !default;
$gray-300:        #dee2e6 !default;
$gray-400:        #ced4da !default;
$gray-500:        #adb5bd !default;
$gray-600:        #888 !default;
$gray-700:        #444 !default;
$gray-800:        #303030 !default;
$gray-900:        #222 !default;
$black:           #000 !default;

$blue:            #375a7f !default;
$indigo:          #6610f2 !default;
$purple:          #6f42c1 !default;
$pink:            #e83e8c !default;
$red:             #e74c3c !default;
$orange:          #fd7e14 !default;
$yellow:          #f39c12 !default;
$green:           #00bc8c !default;
$teal:            #20c997 !default;
$cyan:            #3498db !default;

$tuhh_blue:       #00C1D4 !default;
$tuhh_purple:     #7200FE !default;
$tuhh_green:      #5AFFC5 !default;
$tuhh_yellow:     #FFDE36 !default;
$tuhh_red:        #FF4F4F !default;
$tuhh_orange:     #FF7E15 !default;
$tuhh_pink:       #FFAEA2 !default;
$tuhh_gray:       #D0D0CE !default;
$tuhh_brightblue: #143BFF !default;
$tuhh_brown:      #A8968C !default;

$tie_dblue:       #005e73 !default;

$background:        $gray-800;
$background-2:      $gray-700;
$foreground:        $tuhh_blue;
$foreground-2:      $tuhh_purple;
$feature-1:         $tuhh_green;
$h1-font-color:     $tuhh_blue;
$strokes:           $tuhh_blue;
// $navbar-color:      $tuhh_yellow;

// Body

$body-bg:           $background !default;
$body-color:        $foreground !default;

@function body-mix($weight) {
    @return mix($body-bg, $body-color, $weight);
}

$primary:       $blue !default;
$secondary:     body-mix(85%) !default;
$success:       $tuhh_green !default;
$info:          $tuhh_brightblue !default;
$warning:       $tuhh_yellow !default;
$danger:        $tuhh_red !default;
// This is inconsistent with Bootstrap semantics. That is, $dark
// should actually be a light color in a dark mode setting, :shrug:
// https://github.com/thomaspark/bootswatch/issues/989
$light:         body-mix(65%) !default;
$dark:          body-mix(95%) !default;

$min-contrast-ratio:   1.9 !default;

// Links

$link-color:                $success !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Poppins" !default;
$h1-font-size:                3rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;
$text-muted:                  body-mix(75%) !default;

// Tables

$table-border-color:          body-mix(85%) !default;

$table-bg-scale:              0 !default;

// Forms

$input-bg:                          $white !default;
$input-color:                       body-mix(95%) !default;
$input-border-color:                $body-bg !default;
$input-group-addon-color:           body-mix(65%) !default;
$input-group-addon-bg:              body-mix(85%) !default;

$form-check-input-bg:                     $body-color !default;
$form-check-input-border:                 none !default;

$form-file-button-color:          $body-color !default;

// Dropdowns

$dropdown-bg:                       $body-bg !default;
$dropdown-border-color:             body-mix(85%) !default;
$dropdown-divider-bg:               body-mix(85%) !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         $body-color !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           body-mix(65%) !default;
$nav-tabs-border-color:             body-mix(85%) !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $body-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-light-bg:                   $primary !default;
$navbar-dark-bg:                    $success !default;

// Pagination

$pagination-color:                  $body-color !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $body-color !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $body-color !default;
$pagination-disabled-bg:            darken($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Cards

$card-cap-bg:                       body-mix(85%) !default;
$card-bg:                           body-mix(95%) !default;

// Popovers

$popover-bg:                        body-mix(95%) !default;
$popover-header-bg:                 body-mix(85%) !default;

// Toasts

$toast-background-color:            body-mix(85%) !default;
$toast-header-background-color:     body-mix(95%) !default;

// Modals

$modal-content-bg:                  body-mix(95%) !default;
$modal-content-border-color:        body-mix(85%) !default;
$modal-header-border-color:         body-mix(85%) !default;

// Progress bars

$progress-bg:                       body-mix(85%) !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     body-mix(95%) !default;
$list-group-border-color:           body-mix(85%) !default;
$list-group-hover-bg:               body-mix(85%) !default;
$list-group-action-hover-color:     $list-group-color !default;
$list-group-action-active-bg:       body-mix(99%) !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     body-mix(85%) !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $body-color !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;




/*-- scss:rules --*/

// Variables

// $web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" !default;
// @if $web-font-path {
//   @import url($web-font-path);
// }

// Media Breakpoints for Responsiveness

@media(max-width: 900px) {
    .navbar-brand {
      border-right: none !important;
    }
    .content-block {
      margin-left: 50px;
      margin-right: 50px;
    }
    .hero-banner h1 {
        max-width: 80%;
        // text-align: center;
        font-size: 2.5rem !important;
    }
    .hero-banner h3 {
      max-width: 60%;
      // text-align: center;
      font-size: 1rem !important;
    }
    .hero-banner-features {
      width: 80%;
      margin-right: auto;
      margin-top: -50px !important;
      height: 90%;
    }

    
  }
  
  @media(max-width: 1200px) {
    .content-block {
      max-width: var(--content-width);
      margin-left: auto;
      margin-right: auto;
    }
    .hero-banner h1 {
        max-width: 90%;
        font-size: 2rem !important;
    }
    .hero-banner h3 {
      max-width: 90%;
      font-size: 1rem !important;
    }
    .vertical-center {
      position: relative;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
    }

    .introduction h1 {
      font-size: 2rem !important;
      margin-top: 0px !important;
      margin-bottom: 20px !important;
    }
    .introduction h3 {
      font-size: 1rem !important;
    }
    .introduction p {
      font-size: 1rem !important;
    }
    .text-feature {
      font-size: 2rem !important;
    }

  }

// Typography

.blockquote {
  &-footer {
    color: body-mix(75%);
  }
}

// Forms

.input-group-addon {
  color: $body-color;
}

.form-floating > label {
  color: $gray-700;
}

.form-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1*var(--bs-gutter-y));
  margin-right: calc(-0.5*var(--bs-gutter-x));
  margin-left: calc(-0.5*var(--bs-gutter-x));
}

.form-col {
  padding-right: calc(0.5*var(--bs-gutter-x));
  padding-left: calc(0.5*var(--bs-gutter-x));
  flex: 1 0 0%;
  max-width: 100%;
}


// Navs

// #title-block-header {
//     display: none;
// }

.navbar {
    background: $gray-900;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid $strokes;
    padding: 0px 0px !important;
}

.title, .navbar-title {
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 8px;
  margin-right: 4px;
  // background: linear-gradient(240.01deg, #4B555B 15.29%, rgba(67, 78, 84, 0) 138.75%);
}

.navbar-logo {
    width: 200px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    max-height: 100%;
    /* border-radius: 8px; */
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 15px 15px;
  height: 100%;
  border-right: 1px solid $strokes;
  padding-right: 10px;
}

.navbar-brand -ogo {
  width: 100%;
  height: 100%;
}

.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $body-color;
  }
}

// .title {
//     background: linear-gradient(240.01deg, #78858C 15.29%, rgba(105, 117, 123, 0) 138.75%);
// }

.content-block {
    margin-left: 30px;
    margin-right: 30px;
    overflow-x: hidden;
}

.breadcrumb a {
  color: $body-color;
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}


// ##### HERO BANNER #####


.overlay {
    position: static;
    width: 100%;
    height: 95vh;
    left: 0;
    top: 0;
    /* background: rgba(51,51,51,0.7); */
    z-index: -10;
    border-bottom: 1px solid $strokes;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .vertical-bottom {
    margin: 0;
    position: absolute;
    bottom: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .hero-banner {
    /* margin-top: -100px; */
    /* padding-bottom: 10px;
    margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("assets/img/mind.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .hero-banner h1 {
    font-size: 56px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Poppins';
    color: var(--white);
  }
  
  .hero-banner h2 {
    border: none;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .hero-banner h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: $feature-1;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins';
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .hero-banner-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 70%;
    margin-top: -100px;
    margin-left: auto;
    // margin-right: auto;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }



// ##### INTRODUCTION ##### 

  .introduction {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduction-h1 {
    max-width: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 120px;
    margin-bottom: 40px;
    display: inline;
  }

  .introduction-h2 {
    max-width: 95%;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 40px;
    display: inline;
  }

  .introduction-p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 70%;
    line-break: auto;
    line-height: 1.5;
  }

  .text-feature {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins';
    color: $feature-1;
    margin-top: 10px;
    margin-bottom: 40px;
    white-space: nowrap;

  }

// ##### Standard Section #####

.section {
  margin-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  border-top: 1px solid $strokes;
}

.section_span {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  margin-top: 50px;
  color: $feature-1;
}

.section_span_highlight {
  color: var(--feature-1);
  font-weight:700
}

.section_h1 {
  max-width: 90%;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Poppins';
  margin-top: 120px;
  margin-bottom: 40px;
  display: inline;
}

.section_h2 {
  max-width: 95%;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  font-family: 'Poppins';
  margin-top: 10px;
  margin-bottom: 40px;
  display: inline;
}

.feature {
  font-size: 16px;
  background: $background-2;
  border-radius: 12px;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  vertical-align: auto;
}

.feature img {
    margin-bottom: 5px;
    width: 48px
}

.feature h3 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins';
  margin-bottom: 10px;
}

// ####### NEWS #########
.news {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $strokes;
  }

  .news_span {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 50px;
    color: $feature-1;
  }

  .news-h2 {
    max-width: 95%;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 20px;
    display: inline;
  }

  // ####### BRANDS #########

  .brands {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    filter: none;
}

// Indicators

.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: $body-color;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-color, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}


